.countdownOffer {
  background-color: rgba(255, 255, 255, 0.51);
  backdrop-filter: blur(2.09375rem);
  border-radius: 3.125rem;

  padding: 20px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainTitle {
  font-size: 1.125rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

.countdownItem {
  gap: 20px;
  letter-spacing: 0.325em;
}

.countdownItem,
.countdownNumbers {
  display: flex;
  justify-content: space-between;
}

.countdownNumbers {

  font-weight: 500;
  font-size: 3.125rem;
}

.countdownLabel {
  font-weight: 500;
  color: #0083d3;
  font-size: 1.125rem;
}
