@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

.container {
    background-image: url('http://eugenioaragon.com.ar/emilia/bg3.jpg');
    background-size: cover;
    padding-top: 1rem;
    padding-bottom: 7rem;
    display: flex;
  }

.Title1, .Title2{
  font-family: 'Libre Baskerville', serif;
  color: white;
  font-weight: 400;
  font-size: 2rem;
  margin-left: 24.3125rem;
}
.Title1{
  padding-top: 6.5rem;
}

.text{
  color: white;
  width: 22rem;
  font-size: 1rem;
  margin-left: 24.3125rem;
}

.im{
  padding-top: 3rem;
  width: 35rem;
  padding-left: 2rem;
}
