.all{
  background-image: url('http://eugenioaragon.com.ar/emilia/bg2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 7rem;
  padding-bottom: 7rem;
}
.container {
    display: flex;
    justify-content: center;
  }
  
  .stat {
    margin: 0 10px;
  }

  .BookButton {
    background-color: #FFD900;
    color: white;
    border: none;
    border-radius: 0;
    padding: 10px 20px;
    margin-left: 55rem; 
    margin-top: 2rem;
  }
  
 