.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
    background-image: url('http://eugenioaragon.com.ar/emilia/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    padding-bottom: 8rem;
    gap: 30px;
  }

  @media only screen and (max-width: 1055px) {
   .container{
    background-position: left;
    align-items: center;
   }
}

  .header {
    display: flex;
    align-content: center; 
    gap: 34px;
  }

  .logo {
    width: 8.625rem; 
    height: 3.8803679930664063rem; 

  }

  .titleCountdown{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }

  .mainTitle{
    
    width: 27.3125rem;
    font-size: 2.8125rem;

  }

  .mainTitle span{
    font-family: inherit;
    color: #DD71C6;
  }

  .underText{
    width: 28.6875rem;
    height: 4.875rem;

    font-size: 1rem;
  }


  